{{ desc }}
this is a job description on upwork, I WANT TO APPLY THERE, make a concise title based on job description. don't bold or anything and make the title short of one sentence only main mail subject. only return title in simple format
example like: I will bake a cake for you
so excluding "i will" return verb + title
so that it should go with my line "i will __"
